body {
  background-color: #10dc3e;
}

#gameBefore {
  margin: 20%;
  text-align: center;
}

#gamePlay {
  display: none;
}

#start {
  border: 10px solid black;
}

#start:hover {
  border: 10px dashed black;
  cursor: pointer;
}

#title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.monsterBoard {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 80%;
  grid-gap: 2px;
  height: 500px;
  text-align: center;

}

.selected {
  border: 3px solid red;
}

.unselected {
  border: 3px solid black;
}

#item1 {
  grid-column: 1 /2;
  grid-row: 1 / 2;
  border: 3px solid black;
}

#item3:hover {
  cursor: pointer;
}

#item2 {
  grid-column: 2 / 6;
  grid-row: 1 / 2;
  border: 3px solid black;
}
/* Monster divs */
#item3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: none;
}
#item4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: none;
}
#item5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  display: none;
}
#item6 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  display: none;
}
#item7 {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  display: none;
}
